/*  */
* {
    box-sizing: border-box;
}

body {
    background: #373737;
    color: #C0B283;
}

/*  */
.jumbotron-scene {
    text-align: center;
    color: #C0B283;
    background: #373737;
    border: solid 30px #C0B283;
    padding: 5px;

    /* background-image: url("../images/bridge.JPG"); */
}
.folio {
    border-bottom: solid #C0B283 2px;
}
/* My Head Shot */
.my-pic {
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

#bio_para {
    font-size: 24px;
}

.linking {
    background: grey;
    padding: 50px;
    border-radius: 100px;
    text-align: center;
}

.professional-contact {
    height: 150px;
    width: 150px;
    border-radius: 200px;
}

.professional-links{
    text-align: center;
    text-decoration: none;
}

.links {
    text-align: center;
    padding-top: 20px;

}

.Portfolio_img {
    height: 250px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sizing-positioning {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

/* Footer */

.copy-right {
    text-align: center;
    padding: 20px;
    color: #C0B283;
    /* background-color: rgb(176, 230, 255); */
}