/*  */
* {
  box-sizing: border-box;
}

body {
  /* background: #373737; */
  background-image: linear-gradient(#373737, #9e9d9d, #111111);
  color: #c0b283;
  /* ================================= */
  /* background-image: linear-gradient(black, grey, black); */
  /* color: black; */
}
/* ====================================== */
a {
  color: #373737;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-size: 110%;
  color: black;
}

/* ====================================== */
.project {
  margin-top: 30px;
}
/*  */
.jumbotron-scene {
  background: #fff
    url("https://cdn-images-1.medium.com/max/2000/1*QBbcPa4YfB3bElklYAcPAg.jpeg");
  color: #fff;
  height: 700px;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0px;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: #c0b283;
  opacity: 0.7;
  position: absolute;
}
/* My Head Shot */
.my-pic {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.jumbotron-content {
  font-size: 50px;
  z-index: 1;
}
.bio_para {
  font-size: 24px;
}

.second_section {
  background: #ebeff2;
  color: #373737;
  padding: 30px;
}

.linking {
  background: grey;
  padding: 50px;
  border-radius: 100px;
  text-align: center;
}

.professional-contact {
  height: 150px;
  width: 150px;
  border-radius: 200px;
}

.professional-links {
  text-align: center;
  text-decoration: none;
}

.links {
  text-align: center;
  padding-top: 20px;
}

.Portfolio_img {
  height: 250px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
/* =========================== */
.sizing-positioning {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  padding: 10px;
}

.sizing-positioning:hover {
  transition: opacity 2s ease-in;
  background: rgb(41, 40, 40);
  opacity: 0.7;
  border-radius: 10px;
}

button {
  background: none;
  border: none;
  color: #c0b283;
}

button a:hover {
  background-image: linear-gradient(#373737, #9e9d9d, #111111);
  color: #bea13f;
  /* color: #c0b283; */
  padding: 5px;
  border-radius: 10px;
}

a {
  color: #c0b283;
}
/* =========================== */

/* Footer */
.email {
  margin-top: 30px;
  text-align: center;
}
.copy-right {
  text-align: center;
  padding: 20px;
  color: #c0b283;
  /* background-color: rgb(176, 230, 255); */
}
.resume {
  text-align: center;
  border: 1px solid #373737;
}
.resume a {
  color: #373737;
}
.content {
  margin: 0px auto;
}
.about {
  margin: 0px auto;
}

.profile_picture {
  position: absolute;
  top: 750px;
  left: 0px;
}
